:root {
    --primaryDark: #081B33;
    --primaryLight: #152642;
    --accent: #506680;
    --accentHover: #2F4562;
    --greyLight: #a1a8bd;
    --greyDark: #353C51;
    --light: #fff;

}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    color: var(--light);
    background-color: var(--primaryLight);
}

h1 {
    margin: 0;
}

#main {
    display: flex;
}

header {
    padding: .5rem;
    color: var(--light);
    background-color: var(--primaryDark);
    text-align: center;
}

button {
    color: var(--light);
    background-color: var(--accent);
    border: 0;
}

button:hover {
    background-color: var(--accentHover);
}